<% provide :title, @book.title %>
<div class="row">
  <div class="col-sm-3">
    <%= link_to set_image_book @book, @book %>
    <div class="review-block-name">
      <%= t "views.books.show.author" %><%= @book.author %>
    </div>
    <div class="review-block-date">
      <%= t "views.books.show.publish_date" %><%= @book.publish_date %>
    </div>
    <div class="rating-block">
      <h4><%= t "views.books.lable_form_rate_book" %></h4>
      <h2 class="bold padding-bottom-7">
        <%= @book.rating %> / <%= t "views.books.max_rate"%>
      </h2>
      <% i = 1 %>
      <% while i <= @book.rating.floor do %>
        <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        </button>
        <% i += 1 %>
      <% end %>
      <% if @book.rating.floor < Settings.max_rate %>
        <% j = 1 %>
        <% while j <= Settings.max_rate - @book.rating.floor do %>
          <button type="button" class="btn btn-default btn-grey btn-sm"
            aria-label="Left Align">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          </button>
          <% j += 1 %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-sm-9">
    <div class="review-block-rate"></div>
    <div class="review-block-rate">
      <% if logged_in? %>
        <% if current_user.favouriting? @book %>
          <%= render partial: "favourites/unfavourite", locals: {book: @book} %>
        <% else %>
          <%= render partial: "favourites/favourite", locals: {book: @book} %>
        <% end %>
      <% end %>
    </div>
    <div class="review-block-rate">
      <a class="btn icon-btn btn-success" href="#">
        <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success">
        </span><%= t "views.books.read_book"%>
      </a>
    </div>
    <div class="review-block-title"><%= @book.title %></div>
    <div class="review-block-description">
      <%= simple_format @book.description %>
    </div>
    <hr>
    <h4><%= t "views.books.show.review" %></h4>
    <div class="list-reviews">
      <% @reviews.each do |review| %>
        <div class="media">
          <%= link_to image_tag(review.user.avatar, class: "media-object",
            size: Settings.max_size_avatar_show_review), review.user,
              class: "pull-left" %>
          <div class="media-body">
            <h4 class="media-heading"><%= review.title %></h4>
            <p><%= t "views.books.show.content_review" %></p>
            <p><%= simple_format review.content %></p>
            <ul class="list-inline list-unstyled">
              <li>
                <span>
                  <i class="glyphicon glyphicon-calendar"></i>
                    <%= review.created_at %>
                </span>
              </li>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
    <%= will_paginate @reviews %>
    <% if logged_in? %>
      <div><%= t "views.books.show.book_new_review" %></div>
      <div class = "row">
        <div class="col-md-6 mess-area-add"></div>
      </div>
      <%= form_for [@book, @review], remote: true do |f| %>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: "form-control reset-input" %>
        </div>
        <div class="form-group">
          <%= f.label :content %>
          <%= f.text_area :content, class: "form-control reset-input" %>
        </div>
        <%= button_tag type: "submit",
          class: "btn btn-default" do %>
          <span><%= t "views.books.show.submit_bt" %></span>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
